---
name: ci-gradle

on:
  workflow_call:
    inputs:
      java_version:
        description: What version of Java to use
        type: number
        default: 17
        required: false
      publish_tests:
        description: Whether to attempt publishing unit test results.
        type: boolean
        default: false
        required: false
      publish_lsts:
        description: Whether to attempt publishing LSTS results.
        type: boolean
        default: true
        required: false
    secrets:
      gradle_enterprise_access_key:
        description: Value of the Gradle Enterprise access token to use.
        required: false
      gradle_enterprise_cache_username:
        description: Value of the Gradle Enterprise Cache username to use.
        required: false
      gradle_enterprise_cache_password:
        description: Value of the Gradle Enterprise Cache password to use.
        required: false
      ast_publish_username:
        description: Username for accessing the ast repository.
        required: false
      ast_publish_password:
        description: Password for accessing the ast repository.
        required: false
      moderne_artifactory_username:
        description: Username for accessing the https://artifactory.moderne.ninja/artifactory/moderne-private repository.
        required: false
      moderne_artifactory_password:
        description: Password for accessing the https://artifactory.moderne.ninja/artifactory/moderne-private repository.
        required: false
      OPS_GITHUB_ACTIONS_WEBHOOK:
        required: false

env:
  GRADLE_SWITCHES: --console=plain --info --warning-mode=all
  GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.gradle_enterprise_access_key }}
  GRADLE_ENTERPRISE_CACHE_USERNAME: ${{ secrets.gradle_enterprise_cache_username }}
  GRADLE_ENTERPRISE_CACHE_PASSWORD: ${{ secrets.gradle_enterprise_cache_password }}
  AST_PUBLISH_USERNAME: ${{ secrets.ast_publish_username }}
  AST_PUBLISH_PASSWORD: ${{ secrets.ast_publish_password }}
  MODERNE_ARTIFACTORY_USERNAME: ${{ secrets.moderne_artifactory_username }}
  MODERNE_ARTIFACTORY_PASSWORD: ${{ secrets.moderne_artifactory_password }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup git user
        run: |
          git config --global user.name "$(git --no-pager log --format=format:'%an' -n 1)"
          git config --global user.email "$(git --no-pager log --format=format:'%ae' -n 1)"
      - uses: gradle/actions/wrapper-validation@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ inputs.java_version }}

      - name: setup gradle
        uses: gradle/actions/setup-gradle@v4
      - name: build
        run: ./gradlew ${{ env.GRADLE_SWITCHES }} build

      - name: publish-tests
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always() && inputs.publish_tests
        with:
          files: ./**/build/test-results/**/TEST-*.xml

      - name: slackNotificationOfFailure
        if: failure() && github.event_name == 'schedule' && (github.repository_owner == 'openrewrite' || github.repository_owner == 'moderneinc')
        uses: rtCamp/action-slack-notify@e31e87e03dd19038e411e38ae27cbad084a90661
        continue-on-error: true
        env:
          SLACK_WEBHOOK: ${{ secrets.OPS_GITHUB_ACTIONS_WEBHOOK }}
          MSG_MINIMAL: actions url
          SLACK_USERNAME: ${{ github.event.repository.name }} CI failure
          SLACK_COLOR: failure
          SLACK_FOOTER: ''
