---
name: ci-gradle

on:
  workflow_call:
    inputs:
      java_version:
        description: What version of Java to use
        type: number
        default: 17
        required: false
      publish_tests:
        description: Whether to attempt publishing unit test results.
        type: boolean
        default: false
        required: false
      setup_google_cloud_auth:
        description: Whether to attempt setting up google cloud auth. Namely, for pulling artifacts from a Google Registry.
        type: boolean
        default: true
        required: false
      publish_lsts:
        description: Whether to attempt publishing LSTS results.
        type: boolean
        default: true
        required: false
    secrets:
      gradle_enterprise_access_key:
        description: Value of the Gradle Enterprise access token to use.
        required: false
      gradle_enterprise_cache_username:
        description: Value of the Gradle Enterprise Cache username to use.
        required: false
      gradle_enterprise_cache_password:
        description: Value of the Gradle Enterprise Cache password to use.
        required: false
      gcr_key:
        description: The key necessary to authenticate with google cloud account.
        required: false
      ast_publish_username:
        description: Username for accessing the https://artifactory.moderne.ninja/artifactory/moderne-private repository.
        required: false
      ast_publish_password:
        description: Password for accessing the https://artifactory.moderne.ninja/artifactory/moderne-private repository.
        required: false

env:
  GRADLE_SWITCHES: --console=plain --info --warning-mode=all
  GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.gradle_enterprise_access_key }}
  GRADLE_ENTERPRISE_CACHE_USERNAME: ${{ secrets.gradle_enterprise_cache_username }}
  GRADLE_ENTERPRISE_CACHE_PASSWORD: ${{ secrets.gradle_enterprise_cache_password }}
  AST_PUBLISH_USERNAME: ${{ secrets.ast_publish_username }}
  AST_PUBLISH_PASSWORD: ${{ secrets.ast_publish_password }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: gradle/wrapper-validation-action@v1
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{ inputs.java_version }}
      - uses: google-github-actions/auth@v1
        if: inputs.setup_google_cloud_auth
        with:
          credentials_json: ${{ secrets.GCR_KEY }}
      - uses: google-github-actions/setup-gcloud@v1.1.1
        if: inputs.setup_google_cloud_auth
      - name: build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: ${{ env.GRADLE_SWITCHES }} build
      - name: publish-ast
        uses: moderneinc/moderne-publish-action@v0.1.10
        with:
          version: 'v0.2.6'
          publishUrl: 'https://artifactory.moderne.ninja/artifactory/moderne-private'
          publishUser: ${{ secrets.AST_PUBLISH_USERNAME }}
          publishPwd: ${{ secrets.AST_PUBLISH_PASSWORD }}
          verbose: 'true'
        if: github.event_name != 'pull_request' && inputs.publish_lsts == true
      - name: publish-tests
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always() && inputs.publish_tests
        with:
          files: ./**/build/test-results/**/TEST-*.xml
