---
name: ci-gradle

on:
  workflow_call:
    inputs:
      java_version:
        description: What version of Java to use
        type: number
        default: 17
        required: false
      publish_tests:
        description: Whether to attempt publishing unit test results.
        type: boolean
        default: false
        required: false
      setup_google_cloud_auth:
        description: Whether to attempt setting up google cloud auth. Namely, for pulling artifacts from a Google Registry.
        type: boolean
        default: true
        required: false

env:
  GRADLE_SWITCHES: --console=plain --info --warning-mode=all

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: gradle/wrapper-validation-action@v1
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{ inputs.java_version }}
      - uses: google-github-actions/auth@v1
        if: inputs.setup_google_cloud_auth
        with:
          credentials_json: ${{ secrets.GCR_KEY }}
      - uses: google-github-actions/setup-gcloud@v1.0.1
        if: inputs.setup_google_cloud_auth
      - name: build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: ${{ env.GRADLE_SWITCHES }} -Dorg.gradle.project.ast.publish.username=${{ secrets.AST_PUBLISH_USERNAME }} -Dorg.gradle.project.ast.publish.password=${{ secrets.AST_PUBLISH_PASSWORD }} build
      - name: publish-ast
        uses: gradle/gradle-build-action@v2
        with:
          arguments: ${{ env.GRADLE_SWITCHES }} publishModernePublicationToArtifactoryRepository -Dorg.gradle.project.ast.publish.username=${{ secrets.AST_PUBLISH_USERNAME }} -Dorg.gradle.project.ast.publish.password=${{ secrets.AST_PUBLISH_PASSWORD }} -Dorg.gradle.jvmargs=-Xmx1g -s
        if: github.event_name != 'pull_request'
      # @see https://github.com/EnricoMi/publish-unit-test-result-action/issues/401
      # - name: publish-tests
      #   uses: EnricoMi/publish-unit-test-result-action@v2
      #   if: always() && inputs.publish_tests
      #   with:
      #     files: ./**/build/test-results/**/TEST-*.xml
