---
name: publish-containerized-gradle-app

on:
  workflow_call:
    inputs:
      java_version:
        description: What version of Java to use
        type: number
        default: 17
        required: false
      release_scope:
        description: Git tagging release scope, such as major, minor, or patch.
        type: string
        required: true
        default: minor
      runner:
        description: Which runner to use
        default: ubuntu-latest
        type: string
        required: false

env:
  GRADLE_SWITCHES: --console=plain --info --stacktrace

jobs:
  release:
    runs-on: ${{ inputs.runner }}
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ inputs.java_version }}
          cache: "gradle"

      - name: configure-git-user
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-west-2

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Clear cache
        run: |
          rm -rf /opt/hostedtoolcache/CodeQL
          rm -rf /opt/hostedtoolcache/Ruby
          rm -rf /opt/hostedtoolcache/go
          rm -rf /opt/hostedtoolcache/node

      - name: set up gradle
        uses: gradle/actions/setup-gradle@v4
      - name: build, tag, and push docker image
        env:
          TESTCONTAINERS_RYUK_DISABLED: true
          GRGIT_USER: ${{ github.actor }}
          GRGIT_PASS: ${{ secrets.GITHUB_TOKEN }}
          MODERNE_ARTIFACTORY_USERNAME: ${{ secrets.moderne_artifactory_username }}
          MODERNE_ARTIFACTORY_PASSWORD: ${{ secrets.moderne_artifactory_password }}
        run: ./gradlew ${{ env.GRADLE_SWITCHES }} -Prelease.scope=${{ inputs.release_scope }} final -x test


      - name: Send notification on error
        if: ${{ failure() }}
        uses: slackapi/slack-github-action@v2.0.0
        with:
          channel-id: "#ops-saas-deployments"
          slack-message: ":boom: Unable to build an artifact for ${{ github.repository }}\n${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_MEESEEKS_BOT_TOKEN }}

      - name: Create release
        if: ${{ success() }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          export tag=$(git describe --tags --abbrev=0)
          gh release create "$tag" \
              --repo="$GITHUB_REPOSITORY" \
              --title="${tag#v}" \
              --generate-notes
