---
name: publish-gradle

on:
  workflow_call:
    inputs:
      java_version:
        description: What version of Java to use
        type: number
        default: 17
        required: false
    secrets:
      gradle_enterprise_access_key:
        description: Value of the Gradle Enterprise access token to use.
        required: false
      gradle_enterprise_cache_username:
        description: Value of the Gradle Enterprise Cache username to use.
        required: false
      gradle_enterprise_cache_password:
        description: Value of the Gradle Enterprise Cache password to use.
        required: false
      sonatype_username:
        required: true
      sonatype_token:
        required: true
      ossrh_signing_key:
        required: true
      ossrh_signing_password:
        required: true
      ast_publish_username:
        description: Username for accessing the ast repository.
        required: false
      ast_publish_password:
        description: Password for accessing the ast repository.
        required: false
      moderne_artifactory_username:
        description: Username for accessing the https://artifactory.moderne.ninja/artifactory/moderne-private repository.
        required: false
      moderne_artifactory_password:
        description: Password for accessing the https://artifactory.moderne.ninja/artifactory/moderne-private repository.
        required: false

env:
  GRADLE_SWITCHES: --console=plain --info --stacktrace --warning-mode=all --no-daemon
  GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.gradle_enterprise_access_key }}
  GRADLE_ENTERPRISE_CACHE_USERNAME: ${{ secrets.gradle_enterprise_cache_username }}
  GRADLE_ENTERPRISE_CACHE_PASSWORD: ${{ secrets.gradle_enterprise_cache_password }}
  ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.sonatype_username }}
  ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.sonatype_token }}
  ORG_GRADLE_PROJECT_signingKey: ${{ secrets.ossrh_signing_key }}
  ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.ossrh_signing_password }}
  AST_PUBLISH_USERNAME: ${{ secrets.ast_publish_username }}
  AST_PUBLISH_PASSWORD: ${{ secrets.ast_publish_password }}
  MODERNE_ARTIFACTORY_USERNAME: ${{ secrets.moderne_artifactory_username }}
  MODERNE_ARTIFACTORY_PASSWORD: ${{ secrets.moderne_artifactory_password }}

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ inputs.java_version }}

      - name: setup gradle
        uses: gradle/actions/setup-gradle@v5

      - name: publish-candidate
        if: contains(github.ref, '-rc.')
        run: |
            ./gradlew  \
            ${{ env.GRADLE_SWITCHES }} \
            -Preleasing \
            -Prelease.disableGitChecks=true \
            -Prelease.useLastTag=true \
            candidate \
            publish \
            closeAndReleaseSonatypeStagingRepository

      - name: publish-release
        if: (!contains(github.ref, '-rc.'))
        run: |
            ./gradlew \
            ${{ env.GRADLE_SWITCHES }} \
            -Preleasing \
            -Prelease.disableGitChecks=true \
            -Prelease.useLastTag=true \
            final \
            publish \
            closeAndReleaseSonatypeStagingRepository
